/*! ************************************************
BridgeGap
************************************************ */

/* Buttons */

button,
.button {
  background-color: #D1D1D1;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 87.5%;
  line-height: 1.5;
  margin: 0.5em 0.5em 0 0;
  padding: 0.25em 1em;
  text-align: center;
  white-space: nowrap;
  border: none;
  font-family: sans-serif;
}

button.block,
.button.block {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button.pill,
.button.pill {
  border-radius: 99em;
}

button.large,
.button.large {
  font-size: 125%;
}

button.small,
.button.small {
  font-size: 75%;
}

button.blue,
.button.blue {
  background-color: #0080ff;
  color: white;
}

button.green,
.button.green {
  background-color: #00c000;
  color: white;
}

button.red,
.button.red {
  background-color: #c00000;
  color: white;
}

button.yellow,
.button.yellow {
  background-color: #ffd65e;
}

button.selected,
.button.selected {
  font-weight: bold;
}

button[disabled],
button.disabled,
.button[disabled],
.button.disabled {
  background-color: gainsboro;
  color: gray;
  cursor: default;
}

/* Button Grouping */

.button-group {
  display: table;
  margin-top: 0.5em;
  white-space: nowrap;
}

.button-group button,
.button-group .button {
  display: table-cell;
  margin: 0;
}

.button-group button:not(:first-child),
.button-group .button:not(:first-child) {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.75em;
}

.button-group button:not(:last-child),
.button-group .button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.75em;
}

/* Main Layout and Styles */

body {
  padding: 0px;
  margin: 0px;
  font: 14px sans-serif;
  background-color: #EAEAEA;
}

.logo {
  margin: 0 auto;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 44px;
  background: #109adc;
  color: #FFFFFF;
  border-bottom: 1px solid #0E5895;
}

header h1 {
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  margin: 0px;
}

header .btn {
  padding: 0px 12px 0px 12px;
  position: absolute;
  top: 5px;
  left: 8px;
  /*line-height: 28px;*/
  line-height: 32px;
  color: #fff;
  background-color: #0984c6;
  border: 1px solid #0e5895;
  border-radius: 2px;
}

header .btnright {
  right: 8px;
  left: auto;
}

header a:active {
  color: #fff;
  background-color: #0876b1;
}

.page .body {
  position: absolute;
  top: 45px;
  /* For the header */
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
}